# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# IDE specific files
.vscode/
.idea/

screenshots/
*.png

*.json